body .container {
  width: 1200px;
  margin: 0 auto; }

 
.container{
	display: block;
	max-width: 1170px;
	width: 100%;
}
.text{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.container2{
	width: 80%;
	margin: 0 auto;
	margin-top: 60px;
	padding: 40px;
}
.p1{
	font-family: "KA_LORTKIPANIDZE", sans-serif;
	margin-bottom: 20px;
	padding: 20px;
	text-align: center;
	font-size: 30px;
	color: white;
}

}
h4{
	font-family: "Arial GEO", sans-serif;
	font-size: 30px;
	margin-bottom: 50px;
	text-align: center;
}
.service-types{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.service{
	margin-right: 40px;
}
.text{
	\
	font-family: , sans-serif;
	font-size: 18px;
	color: black;

	margin-left: 5px;
	line-height: 22px;
}
.imgphoto{
	display: inline block;
	margin-right: 15px;
	margin-left: auto;
}
.suratebi{
	background-color: #fff;
	margin: 0 auto;
}
.detalurad{
	max-width: 300px;
	width: 100%;
	height: 200px;
	padding-right: 5px;
}
h5{
	font-size: 20px;
	padding-top: 20px;
	margin-bottom: 20px;
	margin-left: 30px;
}
table{
	margin: 0 auto;
}
.footer{
	font-family: sans-serif;
	font-size: 20px;
	line-height: 20px;
	padding-bottom: 5px;
}
.footer1{
	font-size: 20px;
}

}
.navbar-ul .navbar-li:hover ul li{
	display: none;
	background: none;
	text-shadow: none;
}
.container2{
	width: 100%;
}
.sliderdesc{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 100%;
}

.navbar-ul .navbar-li:hover ul li{
	display: none;
	background: none;
	text-shadow: none;
}
.container2{
	width: 100%;
	margin-top: 30px;
}
.sliderdesc{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 100%;
}
.desc{
	width: 80%;
	margin: 0 auto;
	font-size: 15px;
}
.slider1{
	width: 80%;
	height: 370px;
}
.slidertxt{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
h4{
	text-align: center;
}
h5{
	margin: 0;
	margin: 0 auto;
	margin-bottom: 10px;
}
table{
	margin: 0;
}
.gallimgsizing{
	max-width: 150px;
	width: 100%;
	height: 150px;
}
.footerdiv1 {
    padding-top: 20px;
}
}


@media only screen and (max-width: 480px){
body{
	background-size: inherit;
	background-repeat: no-repeat;
}
.navbar-ul .navbar-li:hover ul li{
	display: none;
	background: none;
	text-shadow: none;
}
.navbar{
	width: 100%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.navbar-ul{
	margin: 0 auto;
}
.navbar-li{
	padding-right: 7px;
    margin-bottom: 10px;
    font-size: 15px;
}
.navbar-logo-txt{
	margin: 0 auto;
}
.p1{
	font-size: 15px;
	margin-bottom: none;
	text-align: center;
}
.container2{
	margin: 0 auto;
	margin-top: 30%;
}
.sliderdesc{
	width: 100%;
	margin-bottom: 20%;
}
.slidertxt{
	display: block;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.desc{
	width: 100%;
	margin: 0 auto;
}
h4{
	text-align: center;
}
h5{
	text-align: center;
	margin-bottom: 20px;
	margin-left: 0;
}

.service-types{
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    margin-left: 15px;
}
.service{
	margin: ;
	margin-bottom: 25px;
	margin-left: 20px;
}

.footer{
	font-size: 15px;
}
.footerdiv1 {
    padding-top: 20px;
}
.footer1{
	font-size: 15px;
}
h4{
	font-size: 15px;
}
.text{
	font-size: 15px;
}
.suratebi
{
	font-size: 25px;
	padding: 20px;
}
.detalurad{
	box-shadow: white;
	box-sizing: 8px;
	max-width: 280px;
	width: 100%;
	height: 200px;
}
h6{
	font-size: 20px;
}
table {
    text-align: center;
}

.maps{
	margin-left: 50px;
}
.contact{
	padding-top: 50px;
}
